@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;400&display=swap');

body{
    background-image: url(/images/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
header{
    margin: 0 auto;
    width: 100%;
}
header figure{
    text-align: center;
}
header figure img{
    width: 38.7rem;
}
nav{
    background-color: rgba(30, 24, 24, 0.76);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    padding: 0.938rem 1.25rem;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
nav ul li :hover, nav ul li:focus{
    left: 0;
    width: 100%;
    height: 3px;
    font-weight: bold;
    color: firebrick;
}
header figure {
    margin: 0 auto;
    width: 100%;
}
header figure img{
    width: 43.5 rem ; 
    cursor: pointer;
}
main{
    border: 1px solid firebrick;
    padding: 1em 1em;
    max-width: 850px;
    background-color: rgba(244, 244, 244, 0.728);
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    text-align: justify;
}
main h1 {
    font-size: 1.87rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    padding-bottom: 0.5em;
}
main#new p::first-letter {
    font-size: 3em;
    color: firebrick;
    text-transform: capitalize;
    font-weight: normal;
}
main p#catalogue{
    color: firebrick;
    font-weight: bold;
    letter-spacing: normal;
}
main p#catalogue::first-letter{
    letter-spacing: -0.2em;
}
main#classique p{
    padding: 0.5em 0em 2em 0em;
}
main#classique p::first-letter{
    color: firebrick;
    text-transform: capitalize;
    font-size: 3em;
}
main table tr:nth-child(2n) td{
    padding: 1em;
}
main table td{
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
}
main table td img{
    margin: 0 2em;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.45);
}
main#contact p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.15em;
    color: dimgray;
    padding: 1em;
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 1.5rem;
}
footer h2{
    font-size: 1.3rem;
}
footer p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.15em;
    color: dimgray;
}
.mentions-legales{
    margin-top: 1.25rem;
    color: firebrick;
}
fieldset{
    border: 1px solid firebrick;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1.4em;
}
fieldset .coordonnees div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0.4em;
}
textarea{
    width: 100%;
    resize: both;
    max-width: 800px;
    max-height: 400px;
}
legend{
    font-family: "Montserrat", sans-serif;
    color: firebrick;
}
button[type="submit"]{
    background-color: rgb(50, 50, 50);
    border-radius: 1em;
    padding: 0.5em 0.8em;
    color: white;
}
button[type="submit"]:hover, button[type="submit"]:focus{
    color: red ;
    cursor: pointer;
}
iframe {
    width: 100%;
    margin-top: 2em;
}


